@model YourLibrary.Models.Book

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="Library" style="padding: 20px 0px">
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <div class="titlepage" style="padding-bottom: 0px">
                    <h2 style="font-size: 30px">Book <strong class="black" style="font-size: 30px">Page </strong></h2>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">

    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Author)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Author)
        </dd>

        <dt>
            Read Book
        </dt>

        <dd>
            <a href="@Url.Action("GetBook", new { id =  Model.Id})" style="color: #b32137" target="_blank">Open Book</a>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PublishDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PublishDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContentSummary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContentSummary)
        </dd>
        <p>
            @Html.ActionLink("Back to List", "Index", new { @style ="color: #b32137"})
        </p>
    </dl>
</div>


